body{
    background-image: url(../img/comida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#nombre{
    width: 308px;
    height: 31px;
    font-size: 24px;
    padding: 8px;
}
#formulario{
    margin: 0 880px;
    margin-top: 600px;
}
#form{
    font-size: 55px;
    color: black;
}
#opciones{
    width: 308px;
    height: 31px;
    font-size: 24px;
    padding: 8px;
}
#fecha{
     

right: -169%;

top: 6%;

width: 308px;

height: 31px;

font-size: 24px;
}
#fecha1{
     

right: -204%;

top: -2%;
}
#email{
    width: 308px;
    height: 31px;
    font-size: 24px;
    padding: 8px;
}
#password{
    width: 308px;
    height: 31px;
    font-size: 24px;
    padding: 8px;
}
#opinion{
    font-size: 49px;
}
#datos{
width: 50%;
float: left;
background-color: #ff8f0036;
}
#d1{
    padding: 2%;
}
#i1{
    padding: 2%;
}
#tel{
    width: 308px;
    height: 31px;
    font-size: 24px;
    padding: 8px;
}
#izquierda{
    width: 50%;
float: left;
background-color: #ff8f0036;
}