p:hover{
    z-index: 3;
}
#p1{
    background-color: #ffd580;
    border: 3px solid black;
    margin-left: 10%;
    margin-right: 10%;
    height: 85px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    
    
}
#titulo{
    text-align: center;
}
#p2{
    background-color: #ffff80;
    border: 3px solid black;
    margin-left: 7%;
    margin-right: 70%;
    height: 292px;
    text-align: left;
    padding: 10px;
    font-size: 25px;
    width: 30%;
    position: absolute;
    
}
#p3{
    background-color: #ffe6ff;
    border: 3px solid black;
    margin-left: 7%;
    margin-right: 70%;
    margin-top: 459px;
    height: 292px;
    text-align: left;
    padding: 10px;
    font-size: 25px;
    width: 30%;
    top:20%;
    position: absolute
}
#p4{
    background-color: #ccffff;
    border: 3px solid black;
    left:56%;
    margin-top: 180px;
    height: 292px;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    top: 2%;
    position: absolute;
    width: 30%;
}
#p5{
    background-color: #ffb3b3;
    border: 3px solid black;
    left:56%;
    margin-top: 29.5%;
    height: 292px;
    text-align: right;
    width: 30%;
    padding: 10px;
    font-size: 25px;
    top: 10%;
    position: absolute;
}
#p6{
background-color : #80ff80;
border: 3px solid black;
margin-left: 30%;
margin-top: 18.5%;
height: 342px;
text-align: left;
width: 641px;
padding: 10px;
font-size: 25px;
top: 2%;
position: absolute;
    
}
